<div class="text-center mt-3 p-3">
  <h1>All our Brooms</h1>
</div>


<div class="d-flex justify-content-center my-2">
  <div class="col-sm-4 my-3">
    <%= form_with url: brooms_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: 'inline-block px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-purple-600 hover:bg-purple-700' %>
    <% end %>
  </div>
</div>
<div class="container mx-auto px-4">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mb-10">
    <% @brooms.each do |broom| %>
      <div class="bg-white rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300 overflow-hidden">
        <% if broom.photo.present? %>
          <%= image_tag broom.photo, class: "w-full h-48 object-cover", alt: broom.name %>
        <% end %>
        <div class="p-4">
          <h5 class="text-xl font-semibold mb-2"><%= broom.name %></h5>
          <p class="text-gray-700 mb-4"><%= truncate(broom.description, length: 100) %></p>
          <p class="text-gray-900 font-bold text-lg mb-4"><%= number_to_currency(broom.price) %></p>
          <%= link_to 'View Details', broom_path(broom), class: 'block bg-purple-600 hover:bg-purple-800 text-white py-2 px-4 rounded transition-colors duration-200 text-center' %>
        </div>
      </div>
    <% end %>
  </div>
  <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
